.main-content{
    h2{
        font-size:1.6rem;
        text-align:center;
        margin:1rem;
    }
    span{
        display:block;
        text-align:center;
    }
    .members{
        margin:2rem 0;
        img{
            display:block;
            margin:0 auto;
            width:100%;
        }
        img:hover{
            cursor:pointer;
            opacity:0.5;
            transition:0.3s;
        }
        a{
            color:inherit;
        }
    }
}